@charset "UTF-8";
/* Reset de página y estilo del body*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/lineas-neon-brillando-abstracto_7680x4320_xtrafondos.com.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
  z-index: -1;
  position: relative;
  overflow-x: hidden;
}

/* medida para celulares */
@media (max-width: 1023px) {
  /* header */
  .navbar-custom {
    height: auto;
    flex-direction: column;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    white-space: nowrap;
  }
  .nav-links {
    margin-left: auto !important;
  }
  ul li {
    padding: 0 0px !important;
  }
  .size-6 {
    display: none;
  }
  .contenedor-login {
    width: 90%;
    padding-left: 90px;
    padding-right: 90px;
  }
  .button-login,
  .input-contenedor {
    max-width: 250px;
  }
  .contenedor-items {
    grid-template-columns: 1fr 1fr !important;
    gap: 0px !important;
  }
  .producto-vista-celular {
    opacity: 1 !important;
  }
  .producto p {
    opacity: 0;
  }
}
/* medida para resulucion monitor */
@media (max-width: 1366px) {
  .contenedor-login {
    width: 90%;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .button-login,
  .input-contenedor {
    max-width: 250px;
  }
}
/* navbar */
.navbar-custom {
  background-color: rgba(238, 8, 200, 0.089);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  box-shadow: 0 2px 15px black;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

/* Estilos para el logo */
.logo-link {
  display: inline-block;
}

.logo {
  width: 100px;
  height: auto;
  filter: drop-shadow(0 2px 4px rgba(124, 9, 255, 0.445));
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}

/* Estilos para la lista de navegación */
.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.nav-links li {
  padding: 0 15px;
}
.nav-links a {
  color: #fafafa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.texto-nav:hover {
  color: #cc00ff;
  text-shadow: 0 0 15px rgba(255, 0, 191, 0.8), 0 0 15px rgba(183, 0, 255, 0.6), 0 0 15px rgba(183, 0, 255, 0.4);
}

/* Estilos para el carrito*/
.size-6 {
  width: 40px;
  height: 70px;
  color: #fafafa;
}

/* Títulos y párrafos */
h1 {
  color: #fafafa;
  text-align: center;
  padding-top: 120px;
  font-family: "Roboto", sans-serif;
}

.titulo-home {
  color: rgb(215, 0, 243);
  text-align: center;
  padding-left: 30px;
  text-shadow: 0 0 25px rgba(252, 11, 11, 0.925);
  filter: brightness(1.5);
  font-size: 2.5rem;
}

.titulo-minitienda {
  text-align: center;
  font-size: 2.2rem;
  color: rgb(253, 11, 63);
  padding-left: 30px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.925);
  filter: brightness(1.5);
  margin-top: 20px;
}

/* Icono de WhatsApp flotante */
.wspfloat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.wspfloat img {
  width: 45px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(61, 133, 55);
}

.galeria {
  width: 23%;
  margin: 1%;
  float: left;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.galeria:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px red;
}
.galeria img {
  width: 100%;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: red;
  transition: opacity 0.5s ease;
  padding: 10px;
  text-align: center;
  opacity: 0;
}

.galeria:hover .overlay {
  opacity: 1;
}

/* Productos */
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  z-index: 1;
}

.producto-vista-celular {
  opacity: 0;
}

.producto {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
.producto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px rgb(32, 243, 4);
}
.producto img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.producto p {
  margin-top: 10px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

/* Estilos para el footer */
footer {
  background-color: rgba(253, 253, 253, 0.137254902);
  color: black;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  font-style: italic;
}

.derechos-footer {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 10%;
  margin-left: 45%;
}

.red-social-link {
  display: inline-block;
  margin: 0 10px;
}

.red-social-link img {
  width: 30px;
  height: auto;
}

/* Estilos para Sucursales */
.info-sucursales {
  width: 70%;
  height: 190;
  margin: 150px auto 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.904)), url(../img/photocall-juegos-neon-dibujado-mano_23-2149860761.avif);
  background-size: cover;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(230, 7, 163);
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

.titulo-sucursales {
  font-size: 2.5rem;
  color: #cfc7c7;
  text-align: center;
  margin-bottom: 70px;
  padding-left: 30px;
  text-shadow: 0 0 15px rgba(90, 66, 92, 0.925);
  filter: brightness(1.2);
  margin-top: 1px;
}

.mapa {
  margin-top: 0px;
  height: 400px;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgb(7, 197, 230);
  border: 1px solid rgb(5, 168, 243);
  border-radius: 10px;
  margin-bottom: 30px;
}

.info-sucursales ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  gap: 20px;
  max-width: 90%;
}
.info-sucursales ul li {
  font-size: 1rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border: 1px solid rgb(255, 5, 255);
  border-radius: 10px;
  margin: 15px auto;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgb(230, 7, 92);
  width: 80%;
  color: #fafafa;
}
.info-sucursales > .mapa iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

/* login */
.section-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/fondo\ login.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedor-login {
  position: relative;
  width: 30%;
  margin-top: 50px;
  height: 60vh;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 15px #fafafa;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contebedor-login {
  font-size: 2.3rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

h2 {
  color: #fafafa;
}

.input-contenedor {
  position: relative;
  margin: 30px 0;
  width: 300px;
  border-bottom: 2px solid #fafafa;
}
.input-contenedor label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fafafa;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.6s;
  font-weight: bold;
}

input:focus ~ label, input:valid ~ label {
  top: -5px;
}

.input-contenedor input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: -35px 0 5px;
  color: #fafafa;
}
.input-contenedor i {
  position: absolute;
  color: #fafafa;
  font-size: 1.6rem;
  top: 19px;
  right: 8px;
}

.olvidar {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fafafa;
  display: flex;
  justify-content: center;
}
.olvidar label input {
  margin: 3px;
}
.olvidar label a {
  color: #fafafa;
  text-decoration: none;
  transition: 0.3s;
  font-size: 0.9em;
  margin-left: 45px;
}
.olvidar label a:hover {
  text-decoration: underline;
}

.button-login {
  width: 100%;
  height: 45px;
  border-radius: 40px;
  background: rgba(253, 253, 253, 0.363);
  border: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
}
.button-login:hover {
  opacity: 0.9;
  background-color: #cc00ff;
  color: #fafafa;
}

.registrar {
  font-size: 0.8rem;
  color: #fafafa;
  text-align: center;
  margin: 20px 0 10px;
}
.registrar p a {
  text-decoration: none;
  color: #fafafa;
  font-weight: bold;
  transition: 0.3s;
}
.registrar p a:hover {
  text-decoration: underline;
}

/* Ajustes para el carrusel tienda */
#carouselExampleCaptions {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  max-width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  #carouselExampleCaptions {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    max-width: 90%;
    margin: 0 auto;
  }
  .carousel-item img {
    max-height: 300px;
  }
  .contenedor-tienda .contenedor-items {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    gap: 8px !important;
  }
}
.carousel-inner {
  border-radius: 10px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: blur(0px);
  cursor: pointer;
  transition: 0.9s;
}
.carousel-item img:hover {
  filter: blur(3px);
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: #fafafa;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s;
}

#carouselExampleCaptions:hover .carousel-caption {
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  background-color: #fafafa;
  border-radius: 10px;
}

/* tienda */
.contenedor-tienda .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  /* width: 60%; */
  width: 100%;
  transition: 0.3s;
  color: white;
  margin-left: 9px;
  margin-bottom: 20px;
  border-top: 1px solid white;
  padding-top: 30px;
}

.precio-item {
  border-top: 1px solid rgb(8, 113, 233);
  margin-top: 10px;
}

.contenedor-tienda .contenedor-items .item {
  max-width: 200px;
  margin: 30px 30 30;
  border: 1px solid #fdfdfd;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}
.contenedor-tienda .contenedor-items .item .img-item {
  width: 100%;
}
.contenedor-tienda .contenedor-items .item:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05;
}
.contenedor-tienda .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}
.contenedor-tienda .contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.contenedor-tienda .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: rgb(10, 10, 10);
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
}
.contenedor-tienda .contenedor-items .item .boton-item:hover {
  box-shadow: 0 0 10px rgb(51, 255, 0);
  background-color: #b700ff;
}

/* boton tienda */
.ver-mas {
  background-color: rgba(234, 9, 255, 0.1450980392);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 40px;
}

.ver-mas:hover {
  background-color: #9820dd;
}

/* nosotros */
.info-nosotros {
  width: 70%;
  height: 190;
  margin: 150px auto 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.904)), url(../img/photocall-juegos-neon-dibujado-mano_23-2149860761.avif);
  background-size: cover;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(230, 7, 163);
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

.titulo-nosotros {
  font-size: 2rem;
  color: #fafafa;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 0 0 20px rgba(234, 0, 255, 0.925);
  filter: brightness(1.2);
}

.info-nosotros p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  color: #fafafa;
}
.info-nosotros ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
}
.info-nosotros ul li {
  font-size: 1rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border: 1px solid rgb(255, 5, 255);
  border-radius: 10px;
  margin: 15px auto;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgb(230, 7, 92);
  width: 80%;
  color: #fafafa;
}

/*# sourceMappingURL=styles.css.map */
