.galeria {
    width: 23%;
    margin: 1%;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px $color-rojo;
    }

    img {
        width: 100%;
        vertical-align: middle;
        transition: transform 0.3s ease;
    }
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-negro-gradial;
    color: $color-rojo;
    transition: opacity 0.5s ease;
    padding: 10px;
    text-align: center;
    opacity: 0;
}

.galeria:hover .overlay {
    opacity: 1;
}